
 /*codigo de la barra*/
 nav {
    background-color: #0066FF; /* color de fondo de la barra de navegación */
    height: 50px; /* establece la altura de la barra de navegación */
    
  }
  
  form {
    margin-top: 20px; /* agrega un espacio de 20 píxeles entre la barra de navegación y el formulario */
  }

nav ul {
    list-style: none; /* quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden; /* evita que los elementos floten fuera de la barra de navegación */
  }
  
  nav ul li {
    float: left; /* hace que los elementos floten a la izquierda */
  }
  
  nav ul li a {
    display: block; /* convierte los enlaces en elementos de bloque */
    color: white; /* color del texto de los enlaces */
    text-align: center; /* centra el texto de los enlaces */
    padding: 16px; /* añade relleno alrededor del texto de los enlaces */
    text-decoration: none; /* quita el subrayado de los enlaces */
  }
  
  nav ul li a:hover {
    background-color: #B9C8E6; /* color de fondo de los enlaces al pasar el cursor */
  }